body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: lightgray;
    color: black;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: whitesmoke;
    color: darkgray;
}

header img {
    height: inherit;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

ul a {
    padding: 32px;
    color: white;
    font-size: 16px;
}

ul a:hover {
    color: wheat;
    background-color: seagreen;
    transition: 1s;
}

ul a.active {
    background-color: seagreen;
}

main {
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    

}

footer {
    width: 100%;
    height: 80px;
    position: fixed;
    left: 0;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
    background-color: whitesmoke;
    color: darkgray;
}

td {
    padding: 16px;
    border: 1px solid black;
}

.calc {
    width: 316px;
}

.calc div {
    padding: 10px 5px;
    margin-bottom: 10px;
    height: 43px;
    background: #fff;
    border: 1px solid #263238;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.calc a {
    display: inline-block;
    margin: 5px;
    width: 50px;
    height: 50px;
    padding: 10px 0;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    background: #9E9E9E;

    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.2);
}

.calc a:hover {
    background: #a9a9a9;
}

.calc a:active {
    background: #7d7d7d;
    box-shadow: unset;
}

.calc a:last-child {
    margin: 10px 0 0;
    width: 100%;
    text-transform: uppercase;
}